<%= render partial: 'user', object: @user %>
<a href="/users/"><button>See all posts</button></a>
<div class="bio_container">
  <%= @user.bio %>
</div>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<% if @user == current_user %>
  <%= render :partial => 'posts/new' %>
<% end %>

<% @posts.each do |post| %>
  <a href="/users/<%= @user.id %>/posts/<%= post.id %>">
    <%= render partial: 'posts/post', object: post %>
  </a>
<% end %>
